* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    width: 100%;
    background: url(portfolio1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar img {
    height: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: .4s ease;
}

ul li a:hover{
    color: orange;
}

.info{
    margin-left: 7%;
    margin-top: 3%;
    max-width: 850px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info h1{
    font-size: 65px;
    color: beige;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: beige;
}



.info span{
    color: orange;
}

.image{
    width: 10%;
    height: 10%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img {
    position: absolute;
    height: 840%;
    left: 5%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;

    filter: drop-shadow(0 0 5px white)
            drop-shadow(0 0 10px white)
            drop-shadow(0 0 15px orange);

    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.05) translate(-50%);
    filter: drop-shadow(0 0 8px white)
            drop-shadow(0 0 15px orange)
            drop-shadow(0 0 25px orange);
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }
  
  .social-icons a {
    color: white;
    font-size: 28px;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icons a:hover {
    color: orange;
    transform: scale(1.2);
  }
  
.image :hover .syed{
    left: 55%;
}


.button-container{
    display: flex;
    gap: 20px;
}

.btn{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: left;
    box-shadow: 0 0 8px white, 0 0 7px orange;
    transition: transform 0.2;
    background-color: rgb(90, 2, 2);
    width: fit-content;
    margin-left: 7%;
    margin-top: 1%;

    
}
